@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
​
​
​
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

​
​
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

​
​
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

​
​
​
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

​
​
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

​
​
​
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

​
​
​
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

​
​
b,
strong {
  font-weight: bolder;
}

​
​
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

​
​
small {
  font-size: 80%;
}

​
​
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

​ sub {
  bottom: -0.25em;
}

​ sup {
  top: -0.5em;
}

​
​
​
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

​
​
​
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

input,
textarea {
  outline: none;
}

button {
  border-style: none;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

​
​
button,
select {
  text-transform: none;
}

​
​
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

​
​
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

​
​
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

​
​
:-moz-ui-invalid {
  box-shadow: none;
}

​
​
legend {
  padding: 0;
}

​
​
progress {
  vertical-align: baseline;
}

​
​
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

​
​
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

​
​
::-webkit-search-decoration {
  -webkit-appearance: none;
}

​
​
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

​
​
​
summary {
  display: list-item;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}

.logo--web {
  color: #2196f3;
}

.logo--studio {
  color: #212121;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__nav {
  display: none;
}

@media (min-width: 768px) {
  .page-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__nav--links {
  display: none;
}

@media (min-width: 768px) {
  .page-header__nav--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__contacts {
  display: none;
  margin-left: 84px;
}

@media (min-width: 1200px) {
  .page-header__contacts {
    margin-left: 305px;
  }
}

@media (min-width: 768px) {
  .page-header__contacts {
    display: block;
  }
}

@media (min-width: 1200px) {
  .page-header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
}

.page-header__nav .page-header__nav .page-header__nav--link:hover,
.page-header__nav .page-header__nav .page-header__nav--link:focus {
  color: #2196f3;
}

.page-header__nav--item {
  margin-left: 50px;
}

@media (min-width: 768px) {
  .page-header__nav--item {
    padding: 32px 0px 32px 0px;
  }
}

@media (min-width: 1200px) {
  .page-header__nav--item {
    padding: 32px 0px 32px 0px;
  }
}

.page-header__nav--item:first-child {
  margin-left: 88px;
}

@media (min-width: 1200px) {
  .page-header__nav--item:first-child {
    margin-left: 93px;
  }
}

.page-header__nav--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #212121;
  position: relative;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  top: 45px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__nav--link.current {
  color: #2196f3;
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu__button:hover {
  color: #2196f3;
}

@media (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.page-header__contacts--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contacts--link:first-child {
  margin-left: 0px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .page-header__contacts--link:first-child {
    margin-bottom: 0;
  }
}

.page-header__contacts--link:last-child {
  margin-left: 30px;
}

.page-header__contacts--link:hover, .page-header__contacts--link:focus {
  color: #2196f3;
}

.nav--icon__envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.nav--icon__smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.page-header__menu-icon {
  width: 40px;
  height: 40px;
  fill: inherit;
}

.hero {
  max-height: 400px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))) url("/Images/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) url("/Images/hero-mobile.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/Images/hero-mobile2x.jpg");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .hero {
    width: 100%;
    background-image: url("/Images/hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/Images/hero-tablet2x.jpg");
  }
}

@media (min-width: 1200px) {
  .hero {
    width: 100%;
    max-height: 600px;
    background-image: url("/Images/hero.jpg");
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/Images/hero2x.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero__button--open {
  background: #2196f3;
  padding: 10px 32px;
  font-family: 'roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__button--close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--close:hover {
  fill: #2196f3;
}

.modal__button--close--icon {
  width: 100%;
  height: 100%;
}

.modal__title {
  margin-bottom: 12px;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.modal-form__field {
  position: relative;
  margin-bottom: 4px;
}

.modal-form__input {
  display: block;
  width: 448px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #188ce8;
}

.modal-form__input:focus + svg,
.modal-form__input:hover + svg {
  fill: #188ce8;
}

.modal-form__input--checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-form__input--icon {
  position: absolute;
  left: -4%;
  top: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
}

.modal-form__input--checkbox:checked + .modal-form__input--icon {
  background-image: url(../Images/icons-svg/check.svg);
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal-form__logo {
  position: absolute;
  top: 50%;
  bottom: 10px;
  left: 14px;
  -webkit-transform: translateX(-22%);
          transform: translateX(-22%);
  width: 18px;
  height: 18px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: block;
  height: 120px;
  width: 448px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border-color: #188ce8;
}

.modal-form__label--policy {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.modal-form__label--link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-form__field--policy {
  margin-bottom: 30px;
}

.modal__button--submit {
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: white;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button--submit:hover, .modal__button--submit:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button--icon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container__advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .container__advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
  }
}

.advantages__list-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__list-item--first, .advantages__list-item--second, .advantages__list-item--third {
  margin-bottom: 30px;
  margin-right: 0px;
  width: 100%;
}

.advantages__list-item--first::before {
  background-image: url("../Images/antenna.png");
}

.advantages__list-item--second::before {
  background-image: url("../Images/clock.png");
}

.advantages__list-item--third::before {
  background-image: url("../Images/diagram.png");
}

.advantages__list-item--last::before {
  background-image: url("../Images/astronaut.png");
}

.advantages__list--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: left;
}

.advantages__list--title {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .advantages__list--title {
    text-align: left;
  }
}

.container__services {
  display: none;
  padding-bottom: 94px;
}

@media (min-width: 1200px) {
  .container__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container__services--title {
  text-align: center;
  margin-bottom: 50px;
}

.container__services--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__services--thumb {
  position: relative;
}

.container__services--overlay {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  font-weight: 700;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

.container__team {
  background-color: #f5f4fa;
  padding-top: 123px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .container__team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__card-thumb {
  background-color: white;
  outline: 1px solid transparent;
  border-radius: 4px;
  height: 428px;
  width: 270px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__card-thumb:hover, .team__card-thumb:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team__card-text {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__card-social {
  padding-bottom: 30px;
}

.container__team--title {
  text-align: center;
  margin-bottom: 50px;
}

.team__card-text--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}

.team__card-text--position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  color: #757575;
  margin-top: 10px;
}

.team__card-social--item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__card-social--item:not(:last-child) {
  margin-right: 10px;
}

.team__card-social--link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__card-social--link:hover, .team__card-social--link:focus {
  background-color: #2196f3;
  color: white;
}

.team__card-social--icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  padding-top: 10px;
}

.team__card-social--icon:hover, .team__card-social--icon:focus {
  color: currentColor;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.container {
  max-width: 450px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */