.container__clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 98px;
  }
}

.clients__title {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $desctop) {
    margin-bottom: 60px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -30px;
  margin-bottom: -30px;
  justify-content: space-between;

  @media (min-width: $desctop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients__list-item {
  margin-bottom: 30px;

  @media (max-width: 767px) {
    flex-basis: calc(100% / 2 - 25px);
  }

  @media (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 60px);
  }

  @media (min-width: $desctop) {
    margin-bottom: 0px;
    width: auto;
  }
}

.clients__list-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid $icon-grey;
  color: $icon-grey;
  border-radius: 4px;
  transition: all 250ms $animation-time;

  @media (min-width: $tablet) {
    max-width: 226px;
  }

  @media (min-width: $desctop) {
    max-width: 170px;
  }

  &:hover,
  &:focus {
    color: $blue-text;
    border: 1px solid $blue-text;
  }
}

.clients__list-icon {
  &--a {
    // width: 44.27px;
    height: 49.23px;
    fill: currentColor;
  }

  &--b {
    // width: 40px;
    height: 52px;
    fill: currentColor;
  }

  &--c {
    // width: 41px;
    height: 42.6px;
    fill: currentColor;
  }

  &--d {
    // width: 79.66px;
    height: 42.02px;
    fill: currentColor;
  }

  &--e {
    // width: 59px;
    height: 47px;
    fill: currentColor;
  }

  &--f {
    // width: 88.48px;
    height: 45.44px;
    fill: currentColor;
  }
}
