.logo {
  display: flex;
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 16px;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  @media (min-width: $desctop) {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 25px;
  }

  &--web {
    color: $blue-text;
  }

  &--studio {
    color: $main-text;
    
  }
}
