.header-section {
  display: flex;
}

.header__nav,
.page-header__nav--links,
.page-header__contacts {
  display: none;
}

.page-header__menu-icon {
  margin-left: auto;
  width: 40px;
  height: 40px;
  fill: inherit;

  @media (min-width: $tablet) {
    display: none;
  }
}

@media (min-width: $tablet) {
  .page-header__nav--links {
    display: inline-flex;
  }

  .page-header__contacts {
    display: block;
  }
}
