$white-text: rgba(255, 255, 255, 1);
$main-text: rgba(33, 33, 33, 1);
$main-text20: rgba(33, 33, 33, 0.2);
$blue-text: rgba(33, 150, 243, 1);
$dark-blue: rgba(24, 140, 232, 1);
$blue09: rgba(33, 150, 243, 0.9);
$grey-text: rgba(117, 117, 117, 1);
$grey-text50: rgba(117, 117, 117, 0.5);
$white-op60: rgba(255, 255, 255, 0.6);
$white-op10: rgba(255, 255, 255, 0.1);
$white-op30: rgba(255, 255, 255, 0.3);
$light-grey: rgba(245, 244, 250, 1);
$dark-back: rgba(47, 48, 58, 1);
$dark-back08: rgba(47, 48, 58, 0.8);
$grey-button: #f5f4fa;
$grey-border: rgba(238, 238, 238, 1);
$grey-border-light: rgba(236, 236, 236, 1);
$icon-grey: rgba(175, 177, 184, 1);
$backdrop: rgba(0, 0, 0, 0.2);

$tablet: 768px;
$desctop: 1200px;

$animation-time: cubic-bezier(0.4, 0, 0.2, 1);
